.form-formik{
    margin: 10vh auto;
    width: 40vw;
    font-size: 1.2rem;
}

.input-field{
    width: 100%;
    padding: 2%;
    border: 0.15rem solid darkslateblue;
    border-radius: 1.2rem;
}

.input-field:focus{
    outline: none;
}

.form-error{
    color: red;
}

button[type='submit']{
    width: 40%;
    background-color: darkslateblue;
    color: white;
    border: none;
    border-radius: 1.2rem;
    padding: 2%;
}