.header-box{
    display: flex;
    /* justify-content: space-between; */
    width: 100vw;
    height: 8vh;
    line-height: 8vh;
    background-color: darkslateblue;
}

.header-home{
    margin-left: 5vw;
    color: white;
    font-size: 2rem;
}

.header-nav{
    margin-left: auto;
    margin-right: 5vw;
}

.header-nav-item{
    color: white;
    font-size: 1.5rem;
}